<?xml version="1.0" encoding="UTF-8"?>
<!--suppress WebProperties -->
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0">
  <display-name>Archetype Created Web Application</display-name>

  <display-name>Java EE web-app demo</display-name>

  <context-param>
    <param-name>liquibase.changelog</param-name>
    <param-value>db/changelog/master.yaml</param-value>
  </context-param>
  <context-param>
    <param-name>liquibase.datasource</param-name>
    <param-value>java:comp/env/jdbc/rc_DB_link</param-value>
  </context-param>
  <context-param>
    <param-name>liquibase.onerror.fail</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>liquibase.integration.servlet.LiquibaseJakartaServletListener</listener-class>
  </listener>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>403</error-code>
    <location>/jsp/error_jsp/error403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error_jsp/error404.jsp</location>
  </error-page>
</web-app>
